.header {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;

}

h2 {
    font-size: xx-large;
}

#intro {
    margin-bottom: 200px;
    padding-top: 300px;
}

.header h1 {
    font-size: xx-large;
    color: white;
    font-weight: 700;
}

.header p {
    color: white;
    font-weight: 700;
}

.header h1 p {
    display: flex;
    flex-direction: column;
}

.about {
    text-align: center;
    padding: 50px;
}

.services {
    background-image: url(assets/backgrounds/s_image.jpg);
    text-align: center;
    padding: 150px;
    color: white;
}

.whatwedo {
    padding: 20px;
    max-width: 100%;
    /* overflow: scroll; */
    overflow-x: scroll;
}

#pOne,
#pTwo,
#pThree {
    /* display: flex;
    flex-direction: row; */
    width: 300px;
}

.port {
    position: relative;
    overflow-x: scroll;
}

.col {
    position: relative;
}

#imgdescription {
    visibility: hidden;
    position: absolute;
    background: white;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: xx-large;
}

.col:hover #imgdescription {
    visibility: visible;
}

.content {
    display: flex;
    flex-direction: row;
}

.design,
.dev,
.prod {
    display: none;
    padding: 100px;
}

#des,
#dv,
#pr {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#togg {
    display: none
}

.port img {
    margin: 10px;
}

#img1,
#img2,
#img3 {
    width: 300px;
    margin-left: 150px;
    justify-content: center;
}

.img img {
    padding: 20px;
}

.namemail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fname {
    /* width: 200px; */
    padding: 20px;
}

.fEmail {
    /* width: 200px; */
    padding: 20px;
}

.nameInput {
    height: 60px;
    opacity: 0.5;
}

.mailInput {
    height: 60px;
    opacity: 0.5;
}

.message {
    height: 200px;
    opacity: 0.5;
    padding-left: 50px;
}


#mc_embed_signup {
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font: 20px Helvetica, Arial, sans-serif;
    color: white;
    clear: left;
    margin-top: 20px;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
